.mar-rl-1{
    margin: 0 10px;
}

#add_servio_reserve, .hidden-input{
    display: none!important;
}

.my-error-field{
    border-color: red!important;
}

.servio-custom-disable{
    pointer-events: none;
    opacity: .5;
}

.servio-tmp-disable{
    pointer-events: none;
    opacity: .9;
}

.block-width-100{
    width: 100%;
}
.table-responsive.full-width-table{
    display: table;
}

/*.reserve-hidden{*/
/*display: none!important;*/
/*}*/